WebSis/SACNET.root/SACNET/App_WebReferences/ServicioSeguridad/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://servicios2.britanico.edu.pe/ACPBServicioSeguridadWCF/Service1.svc/basic?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://servicios2.britanico.edu.pe/ACPBServicioSeguridadWCF/Service1.svc/basic?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://servicios2.britanico.edu.pe/ACPBServicioSeguridadWCF/Service1.svc/basic?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebSeguridadSIS_ServicioWCF" />
      <xsd:import schemaLocation="http://servicios2.britanico.edu.pe/ACPBServicioSeguridadWCF/Service1.svc/basic?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataContract.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUsuarioSistema_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuarioSistema" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUsuarioSistema_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuarioSistemaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDatosUusuarioPersona_SisEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDatosUusuarioPersona_SisEvent" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDatosUusuarioPersona_SisEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDatosUusuarioPersona_SisEventResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMntSistema_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMntSistema" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMntSistema_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMntSistemaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Ins_Sistema_InputMessage">
    <wsdl:part name="parameters" element="tns:Ins_Sistema" />
  </wsdl:message>
  <wsdl:message name="IService1_Ins_Sistema_OutputMessage">
    <wsdl:part name="parameters" element="tns:Ins_SistemaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPerfilUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPerfilUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPerfilUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPerfilUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPerfilesSistema_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPerfilesSistema" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPerfilesSistema_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPerfilesSistemaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMntPerfil_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMntPerfil" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMntPerfil_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMntPerfilResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Ins_Perfil_InputMessage">
    <wsdl:part name="parameters" element="tns:Ins_Perfil" />
  </wsdl:message>
  <wsdl:message name="IService1_Ins_Perfil_OutputMessage">
    <wsdl:part name="parameters" element="tns:Ins_PerfilResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMntRol_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMntRol" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMntRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMntRolResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Ins_Rol_InputMessage">
    <wsdl:part name="parameters" element="tns:Ins_Rol" />
  </wsdl:message>
  <wsdl:message name="IService1_Ins_Rol_OutputMessage">
    <wsdl:part name="parameters" element="tns:Ins_RolResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOpcionesPerfil_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOpcionesPerfil" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOpcionesPerfil_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOpcionesPerfilResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMntOpcion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMntOpcion" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMntOpcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMntOpcionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Ins_Opcion_InputMessage">
    <wsdl:part name="parameters" element="tns:Ins_Opcion" />
  </wsdl:message>
  <wsdl:message name="IService1_Ins_Opcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:Ins_OpcionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMntUSUARIO_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMntUSUARIO" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMntUSUARIO_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMntUSUARIOResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Ins_USUARIO_InputMessage">
    <wsdl:part name="parameters" element="tns:Ins_USUARIO" />
  </wsdl:message>
  <wsdl:message name="IService1_Ins_USUARIO_OutputMessage">
    <wsdl:part name="parameters" element="tns:Ins_USUARIOResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMntRol_Opcion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMntRol_Opcion" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMntRol_Opcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMntRol_OpcionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Ins_Rol_Opcion_InputMessage">
    <wsdl:part name="parameters" element="tns:Ins_Rol_Opcion" />
  </wsdl:message>
  <wsdl:message name="IService1_Ins_Rol_Opcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:Ins_Rol_OpcionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMntPerfil_Rol_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMntPerfil_Rol" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMntPerfil_Rol_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMntPerfil_RolResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Ins_Perfil_Rol_InputMessage">
    <wsdl:part name="parameters" element="tns:Ins_Perfil_Rol" />
  </wsdl:message>
  <wsdl:message name="IService1_Ins_Perfil_Rol_OutputMessage">
    <wsdl:part name="parameters" element="tns:Ins_Perfil_RolResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMntUsuario_Perfiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMntUsuario_Perfiles" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMntUsuario_Perfiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMntUsuario_PerfilesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Ins_Usuario_Perfiles_InputMessage">
    <wsdl:part name="parameters" element="tns:Ins_Usuario_Perfiles" />
  </wsdl:message>
  <wsdl:message name="IService1_Ins_Usuario_Perfiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:Ins_Usuario_PerfilesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMntUsuario_Sistemas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMntUsuario_Sistemas" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMntUsuario_Sistemas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMntUsuario_SistemasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Ins_Usuario_Sistemas_InputMessage">
    <wsdl:part name="parameters" element="tns:Ins_Usuario_Sistemas" />
  </wsdl:message>
  <wsdl:message name="IService1_Ins_Usuario_Sistemas_OutputMessage">
    <wsdl:part name="parameters" element="tns:Ins_Usuario_SistemasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_gethola_InputMessage">
    <wsdl:part name="parameters" element="tns:gethola" />
  </wsdl:message>
  <wsdl:message name="IService1_gethola_OutputMessage">
    <wsdl:part name="parameters" element="tns:getholaResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioSistema">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUsuarioSistema" message="tns:IService1_GetUsuarioSistema_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUsuarioSistemaResponse" message="tns:IService1_GetUsuarioSistema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDatosUusuarioPersona_SisEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDatosUusuarioPersona_SisEvent" message="tns:IService1_GetDatosUusuarioPersona_SisEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDatosUusuarioPersona_SisEventResponse" message="tns:IService1_GetDatosUusuarioPersona_SisEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMntSistema">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMntSistema" message="tns:IService1_GetMntSistema_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMntSistemaResponse" message="tns:IService1_GetMntSistema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ins_Sistema">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Ins_Sistema" message="tns:IService1_Ins_Sistema_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Ins_SistemaResponse" message="tns:IService1_Ins_Sistema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPerfilUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPerfilUsuario" message="tns:IService1_GetPerfilUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPerfilUsuarioResponse" message="tns:IService1_GetPerfilUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPerfilesSistema">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPerfilesSistema" message="tns:IService1_GetPerfilesSistema_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPerfilesSistemaResponse" message="tns:IService1_GetPerfilesSistema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMntPerfil">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMntPerfil" message="tns:IService1_GetMntPerfil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMntPerfilResponse" message="tns:IService1_GetMntPerfil_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ins_Perfil">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Ins_Perfil" message="tns:IService1_Ins_Perfil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Ins_PerfilResponse" message="tns:IService1_Ins_Perfil_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMntRol">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMntRol" message="tns:IService1_GetMntRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMntRolResponse" message="tns:IService1_GetMntRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ins_Rol">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Ins_Rol" message="tns:IService1_Ins_Rol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Ins_RolResponse" message="tns:IService1_Ins_Rol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOpcionesPerfil">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOpcionesPerfil" message="tns:IService1_GetOpcionesPerfil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOpcionesPerfilResponse" message="tns:IService1_GetOpcionesPerfil_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMntOpcion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMntOpcion" message="tns:IService1_GetMntOpcion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMntOpcionResponse" message="tns:IService1_GetMntOpcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ins_Opcion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Ins_Opcion" message="tns:IService1_Ins_Opcion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Ins_OpcionResponse" message="tns:IService1_Ins_Opcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMntUSUARIO">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMntUSUARIO" message="tns:IService1_GetMntUSUARIO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMntUSUARIOResponse" message="tns:IService1_GetMntUSUARIO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ins_USUARIO">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Ins_USUARIO" message="tns:IService1_Ins_USUARIO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Ins_USUARIOResponse" message="tns:IService1_Ins_USUARIO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMntRol_Opcion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMntRol_Opcion" message="tns:IService1_GetMntRol_Opcion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMntRol_OpcionResponse" message="tns:IService1_GetMntRol_Opcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ins_Rol_Opcion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Ins_Rol_Opcion" message="tns:IService1_Ins_Rol_Opcion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Ins_Rol_OpcionResponse" message="tns:IService1_Ins_Rol_Opcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMntPerfil_Rol">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMntPerfil_Rol" message="tns:IService1_GetMntPerfil_Rol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMntPerfil_RolResponse" message="tns:IService1_GetMntPerfil_Rol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ins_Perfil_Rol">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Ins_Perfil_Rol" message="tns:IService1_Ins_Perfil_Rol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Ins_Perfil_RolResponse" message="tns:IService1_Ins_Perfil_Rol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMntUsuario_Perfiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMntUsuario_Perfiles" message="tns:IService1_GetMntUsuario_Perfiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMntUsuario_PerfilesResponse" message="tns:IService1_GetMntUsuario_Perfiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ins_Usuario_Perfiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Ins_Usuario_Perfiles" message="tns:IService1_Ins_Usuario_Perfiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Ins_Usuario_PerfilesResponse" message="tns:IService1_Ins_Usuario_Perfiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMntUsuario_Sistemas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMntUsuario_Sistemas" message="tns:IService1_GetMntUsuario_Sistemas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMntUsuario_SistemasResponse" message="tns:IService1_GetMntUsuario_Sistemas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ins_Usuario_Sistemas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Ins_Usuario_Sistemas" message="tns:IService1_Ins_Usuario_Sistemas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Ins_Usuario_SistemasResponse" message="tns:IService1_Ins_Usuario_Sistemas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="gethola">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/gethola" message="tns:IService1_gethola_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getholaResponse" message="tns:IService1_gethola_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioSistema">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUsuarioSistema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatosUusuarioPersona_SisEvent">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDatosUusuarioPersona_SisEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMntSistema">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMntSistema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ins_Sistema">
      <soap:operation soapAction="http://tempuri.org/IService1/Ins_Sistema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerfilUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPerfilUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerfilesSistema">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPerfilesSistema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMntPerfil">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMntPerfil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ins_Perfil">
      <soap:operation soapAction="http://tempuri.org/IService1/Ins_Perfil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMntRol">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMntRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ins_Rol">
      <soap:operation soapAction="http://tempuri.org/IService1/Ins_Rol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpcionesPerfil">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOpcionesPerfil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMntOpcion">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMntOpcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ins_Opcion">
      <soap:operation soapAction="http://tempuri.org/IService1/Ins_Opcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMntUSUARIO">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMntUSUARIO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ins_USUARIO">
      <soap:operation soapAction="http://tempuri.org/IService1/Ins_USUARIO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMntRol_Opcion">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMntRol_Opcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ins_Rol_Opcion">
      <soap:operation soapAction="http://tempuri.org/IService1/Ins_Rol_Opcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMntPerfil_Rol">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMntPerfil_Rol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ins_Perfil_Rol">
      <soap:operation soapAction="http://tempuri.org/IService1/Ins_Perfil_Rol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMntUsuario_Perfiles">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMntUsuario_Perfiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ins_Usuario_Perfiles">
      <soap:operation soapAction="http://tempuri.org/IService1/Ins_Usuario_Perfiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMntUsuario_Sistemas">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMntUsuario_Sistemas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ins_Usuario_Sistemas">
      <soap:operation soapAction="http://tempuri.org/IService1/Ins_Usuario_Sistemas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gethola">
      <soap:operation soapAction="http://tempuri.org/IService1/gethola" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://servicios2.britanico.edu.pe/ACPBServicioSeguridadWCF/Service1.svc/basic" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>